doctype html
html
  head
    title
      | WebRTC P2P Tic Tac Toe
    script(src="http://cdn.peerjs.com/0.3/peer.min.js")
    link(rel='stylesheet', href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/animate.min.css')
    link(rel='stylesheet', href='css/styles.css')
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
      
    meta(name='description', content="WebRTC P2P Tic Tac Toe")
    meta(name='author', content='Josh Fabean')
    meta(name='keywords', content='p2p,webrtc,tic tac toe,game,gaming,html5 gaming')
      
    meta(property='og:title', content='P2P Chat')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://joshfabean.com/demos/javascript-p2p-chat/index.html')
    meta(property='og:description', content='WebRTC P2P Tic Tac Toe')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='http://joshfabean.com/demos/javascript-p2p-chat/index.html')
    meta(name='twitter:title', content='WebRTC P2P Chat')
    meta(name='twitter:description', content='WebRTC P2P Tic Tac Toe')
    meta(name='twitter:site', content='@joshfabean')
    meta(name='twitter:creator', content='@joshfabean')
  body
    header.top
      #init-wrapper
        input#name-input(type="text", placeholder="Your name")
        button#set-name.blue.ghost(type="button")
          | Set Name
        button#show-host.hide.inline-block.blue.ghost
          | Host Game
        #host.hide.inline-block
          #your-id
            span
              | your id is:
        button#show-join.hide.inline-block.blue.ghost
          | Join Game
        #join.hide.inline-block
          form
            label(for="id")
              | Friends ID:
            input#friends-peer-id(name="id", type="text")
            button#join-host.blue.ghost(type="button")
              | join
      #connected.hide
    section.inner
      h2#output.text-center
      button#restart.hide(type="button")
        | Restart
      #game(data-disabled='true')
        each boardval in [1,2,3,4,5,6,7,8,9]
          .board(id="board-#{boardval}", data-disabled='false', data-status="null")
            each tileval in [1,2,3,4,5,6,7,8,9]
              .tile(data-board=boardval, data-tile=tileval, data-disabled='false')
      button#oh-crap.hide
        | Oh Crap
    script(src="js/scripts.js")
