@import 'normalize';

$blue: #2196F3;
$dingy: #495B6A;
$white: #ffffff;
$purple: #673AB7;
$yellow: #FFEB3B;
$red: #F44336;
$orange: #FF5722;
$black: #333333;

$nav: 100;
$navHeight: 64px;
$trans: 0.3s ease;

$z10:  0px 3px 3px 0px rgba(50, 50, 50, 0.1);
$z50:  0px 4px 3px 0px rgba(50, 50, 50, 0.2);
$z100: 0px 5px 3px 0px rgba(50, 50, 50, 0.3);
$inktrans: 0.2;
$darkred: #d32f2f;
$inkred: transparentize(#b71c1c, $inktrans);

$ghost:    transparent;

html {
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

body {
  min-height: 100vh;
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.name {
  text-align: center;
  padding-top: 11px;
}

.top {
  background: $blue;
  padding: 20px;
  color: $white;
  box-shadow:
    0 1.5px 4px rgba(0,0,0,0.24),
    0 1.5px 6px rgba(0,0,0,0.12);
}

#game {
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  width: 300px;
  margin: 50px auto;

  .board {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    height: 33%;
    position: relative;
    width: 33%;

    &.x,
    &.o {
      cursor: default;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 100px;
        text-align: center;
        line-height: 80px;
      }
    }
    &.x:after {
      content: 'x';
    }
    &.o:after {
      content: 'o';
    }

    &[data-disabled="true"] {
      background-color: rgba(0,0,0,0.2);
    }
  }

  .tile {
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    flex: 1 30%;
    transition: background-color 300ms ease;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }

    &.x,
    &.o {
      cursor: default;

      &:after {
        font-size: 25px;
        line-height: 0;
        margin: auto;
      }

      &:hover {
        background-color: #FFF;
      }
    }

    &.x:after {
      content: 'x';
    }
    &.o:after {
      content: 'o';
    }
  }
}

input {
  color: #999999;
}

button {
  text-decoration: none;
  color: $white;
  border-radius: 1px;
  background-color: $blue;
  border: none;
  -webkit-box-shadow: $z10;
  -moz-box-shadow:    $z10;
  box-shadow:         $z10;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  &:hover {
    background-color: darken($blue, 5%);
    -webkit-box-shadow: $z100;
    -moz-box-shadow:    $z100;
    box-shadow:         $z100;
    cursor: pointer;

    -webkit-transition: $trans;
    transition: $trans;
  }

  &.blue {
    background-color: $white;
    color: $blue;

    &:active, &:focus {
      background-color: darken($white, 5%);
    }

    &:hover {
      background-color: darken($white, 5%);
    }
  }
}

#restart {
  width: 200px;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}
